# **Conservatory Group**
# **Project Title: Effects of COVID-19 on Retail Sales in the US**

In [6]:
import pandas as pd
import os

In [13]:
file = r"C:\Users\lenpk\OneDrive\Desktop\useful_data\retail_grocery.csv"

In [15]:
retail_grocery = pd.read_csv(file)
retail_grocery.head()

         DATE RSGCS_20200814  RSGCS_20200916
0  2010-01-01          43028           43028
1  2010-02-01          43735           43735
2  2010-03-01          43304           43304
3  2010-04-01          43186           43186
4  2010-05-01          43266           43266