### **Testing Git Collaboration**

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
grocery_df = pd.read_csv('alfredgraph_grocery.csv')

In [21]:
grocery_df.head()

         DATE  RSGCS_20200916
0  2010-01-01           43028
1  2010-02-01           43735
2  2010-03-01           43304
3  2010-04-01           43186
4  2010-05-01           43266

In [22]:
grocery_df.info

<bound method DataFrame.info of            DATE  RSGCS_20200916
0    2010-01-01           43028
1    2010-02-01           43735
2    2010-03-01           43304
3    2010-04-01           43186
4    2010-05-01           43266
..          ...             ...
123  2020-04-01           63869
124  2020-05-01           64667
125  2020-06-01           63454
126  2020-07-01           63916
127  2020-08-01           62905

[128 rows x 2 columns]>

In [24]:
grocery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            128 non-null    object
 1   RSGCS_20200916  128 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB